.dockerignore
.git
.gitattributes
.gitignore 
.npm
npm-debug.log
Jenkins_pipeline_files
README.md
Dockerfile
Jenkinsfile
jenkins
src
srcnew
srcold
node_modules
Dockerfile_agent
codechange.sh
codechangeback.sh
docker-compose.yml